/* Calendar Styles */
.calendar {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #947822;
  border-radius: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-header h2 {
  color: #F0EBD8;
  font-size: 1.5em;
}

.calendar-header button {
  padding: 10px 20px;
  background-color: #9E2B25;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-name, .day-number {
  text-align: center;
  padding: 15px;
  background-color: #F0EBD8;
  border-radius: 5px;
}

.current-day {
  background-color: #9E2B25;
  color: #FFFFFF;
}

.booking-highlight {
  background-color: #7F211B;
  color: #FFFFFF;
}
