/* Styling for the reservation calendar */
#calendar {
    border: 1px solid #ccc;
    height: 500px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Additional styling for reservation basket section */
#reservation-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for reservation cards */
.nav-card {
    background-color: #D5CDB6;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Calendar container heading */
h2 {
    color: #FFFFFF;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

/* Responsive layout for calendar on smaller screens */
@media (max-width: 768px) {
    #calendar {
        width: 100%;
        padding: 10px;
    }
}
